<div id="<%= dom_id user_profile %>">
  <p>
    <strong>User:</strong>
    <%= user_profile.user_id %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= user_profile.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user_profile.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= user_profile.date_of_birth %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= user_profile.gender %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= user_profile.phone %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= user_profile.address %>
  </p>

  <p>
    <strong>City:</strong>
    <%= user_profile.city_id %>
  </p>

  <p>
    <strong>State:</strong>
    <%= user_profile.state_id %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= user_profile.country_id %>
  </p>

</div>
