<div id="<%= dom_id college %>">
  <p>
    <strong>Name:</strong>
    <%= college.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= college.description %>
  </p>

  <p>
    <strong>City:</strong>
    <%= college.city %>
  </p>

  <p>
    <strong>Contact no:</strong>
    <%= college.contact_no %>
  </p>

  <p>
    <strong>Contact email:</strong>
    <%= college.contact_email %>
  </p>

</div>
