<div id="<%= dom_id review %>">
  <p>
    <strong>College:</strong>
    <%= review.college_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= review.user_id %>
  </p>

  <p>
    <strong>Review matrix:</strong>
    <%= review.review_matrix %>
  </p>

  <p>
    <strong>Review comment:</strong>
    <%= review.review_comment %>
  </p>

</div>
